html,
body {
background-color: black;
font-family: 'IM Fell English SC', serif;
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}



/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

/* body {
  background-color: black;
  font-family: 'IM Fell English SC', serif;
  /* font-family: 'IM Fell English SC', serif; */

  /* background-image: url('/static/img/sunsetbg.png') ;
  background-repeat: repeat-y;
  background-size:100%;
} */

/* #plaga_body{
  background-image: image("/static/img/sunsetbg.png");
} */
.plagatron{
  background-color: rgb(219, 217, 224);
  border:solid black 3px;
  margin-top:20px;
  margin-bottom: auto;
}
.postatron{
  /* padding-left:20px; */
  background-color: rgb(219, 217, 224);
  border:solid black 3px;
  margin-bottom: auto;
}
.textred{
  color: #7a2f2f;
}

.devblog{
  background-color: rgb(219, 217, 224);
  padding: 10px;

  margin-bottom:20px;
}


.bigbrand{
  font-size: 1.5em;
  color: #7a2f2f;
}

.plagafont {

  color: black;
  font-size: 1.5em;
}
.plagafontred {
  color: #7a2f2f;
  font-size: 1.7em;
}

.postdate{
  text-align: center;
  font-size:2.0em;
}

.posttitle{
  color: white;
  /* font-family: 'Orbitron', sans-serif; */
  font-size: 3em;
  text-align: center;
}

.postcontent{
  /* font-family: 'Archivo Narrow', sans-serif; */
  font-size: 2.0em;
}

.centerimg {

      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 7%;
      width: 65%;


}

.centerstage{

  margin-left: auto;
  margin-right: auto;

}

.bigbrand{
  font-size: 1.5em;
  color: #7a2f2f;
}


.text-muted{
  color: black;
  font-size: 12px;
  font-weight: bold;
}

.carouselformatting{
  margin-top:20px;
  margin-bottom:20px;
}

.mydemos {
  font-family: 'IM Fell English SC', serif;
  padding-top:50px;

  padding-bottom:50px;

  background-color: rgb(219, 217, 224);
}

.demoiframe{
  margin-right:50;
  padding-right:10px;
}
.feat_heading{
  color: #7a2f2f;
  font-style:oblique;
  font-weight: bold;
}

.plagalogo{
  font-size: 1.5em;
  color: #7a2f2f;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {

    color: #7a2f2f;
}

.plagadefmuted{
  color: rgb(97, 99, 104);
}

.plagarowcontent{
  border:solid #7a2f2f 12px;
height: 50%;
margin-bottom:0px;
  /* border-top: solid white 10px; */

}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height:1000px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: black
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

a:link{
  color:#7a2f2f;
}

#grad1 {
  height: 100%;
  background:black;

}

#detail{
  margin:10px;
  padding:5px;
}
.plagabuttons{
  background-color: rgb(85, 85 ,85);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.postauthor{

  font-size: 1.5em;
}

.customhrwhite{

  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(255, 255, 255,0), rgba(255, 255, 255, 0.75), rgba(255,255,255, 0));
}

.customhr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
