{% extends "base.html" %}
{% block content %}
<div class="jumbotron plagatron">
  <div class="textred">
  <h1 class="textred">About Plaga</h1>
</div>
  <p>The once prosperous town of Bailazel has come under many great horrors and distress.  Villagers whisper of something called... the Plaga.  Many a men had tried to send it back to the depths from which it came, but alas... all have failed.</p>
<p>Bailazel... doomed to sit in the darkness.  Grasping to the heavens for the day a hero may purge this demonic blight from the land.</p>
  <hr>
    <h5>Social Media links</h4>
<ul>
  <li> <a href="#">Github</a> </li>
  <li> <a href="https://twitter.com/PlagaDevs">Twitter</a> </li>
  <li> <a href="https://www.facebook.com/plaga.dev.7">Facebook</a> </li>
  <li>Email: <a href="mailto:ContactPlaga2018@gmail.com?Subject=Hello%20again" target="_top">ContactPlaga2018@gmail.com</a></li>



</ul>

</div>
<div class="jumbotron plagatron">
  <h2 class="textred">About the Devs</h2>
  <ul>
    <li>
      <h3>The Dude: Game Dev</h3>
<ul>
  <li>Computer Science Major @ <a href="https://www.nsuok.edu/">Northeastern State University</a> </li>
  <li>Twitch Streamer</li>
  <li>Game Developer</li>
</ul>
    </li>
    <li>
      <h3>FliQside: Web Dev</h3>

      <ul>
        <li> <a href="https://www.linkedin.com/in/raymond-lemay-79812536/">Linkedin</a> </li>
        <li>Computer Science Major @ <a href="https://www.nsuok.edu/">Northeastern State University</a> </li>
      </ul>

    </li>
  </ul>

</div>


{% endblock %}
