{% extends "base.html" %}
{% block content %}
<div class="jumbotron plagatron">
  <div class="textred">
  <h1 class="textred">About Plaga</h1>
</div>
  <p>The game Plaga is set in the early 19th century world of Bay-la-zel,
    where a terrible blight which the townspeople have named Plaga.
    On your journey there will be many trials that will test not only your
    combat skills but also your intellect.  Come now and slay these demons and
    send the Plaga back to wherever it came from.</p>
    <hr>
    <h4>Social Media links</h4>
<ul>
  <li> <a href="#">Github</a> </li>
  <li> <a href="https://twitter.com/PlagaDevs">Twitter</a> </li>
  <li> <a href="https://www.facebook.com/plaga.dev.7">Facebook</a> </li>



</ul>

</div>
<div class="jumbotron plagatron">
  <h2 class="textred">About the Devs</h2>
  <ul>
    <li>
      <h3>The Dude: Game Dev</h3>
<ul>
  <li>Computer Science Major @ <a href="https://www.nsuok.edu/">Northeastern State University</a> </li>
  <li>Twitch Streamer</li>
  <li>Game Developer</li>
</ul>
    </li>
    <li>
      <h3>FliQside: Web Dev</h3>

      <ul>
        <li>Computer Science Major @ <a href="https://www.nsuok.edu/">Northeastern State University</a> </li>
      </ul>

    </li>
  </ul>

</div>


{% endblock %}
