{% extends "blog/base.html" %}
{% load staticfiles %}

{% block content %}

<!-- <div class="container ytvids">
  <h1>Bats, Skellys and Movement</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/PwEX8jo05GM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<h1></h1>

</div> -->
<!-- <hr class="featurette-divider"> -->






<div class="row featurette mydemos">
  <div class="col-md-7">
    <h2 class="featurette-heading feat_heading">Bats, Skellys and Movement<br><span class="text-muted">Uploaded on Apr 3, 2018</span></h2>
    <p class="lead">This video demonstrates how the character attacks and takes damage.  It
    is also the introduction of our new enemies the Skeletons and bats.  </p>
  </div>
  <div class="col-md-5">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PwEX8jo05GM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>


<div class="row featurette mydemos">



  <div class="col-md-7 push-md-5">
    <h2 class="featurette-heading feat_heading">Progress Report Video<br><span class="text-muted">Uploaded on Mar 29, 2018</span></h2>
    <p class="lead">This video showcases some of the new enemies we've been working on.  </p>
  </div>
  <div class="col-md-5 pull-md-5">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/2xRzthVkQNU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>



<div class="row featurette mydemos">
  <div class="col-md-7">
    <h2 class="featurette-heading feat_heading">Player Attack<br><span class="text-muted">Uploaded on Mar 5, 2018</span></h2>
    <p class="lead">Team up with a friend and go head to head with a hilarious cast of villains
      rendered in bold pixel graphics. There's no shortage of explosions in this game either.
      Smash your way through five different gangs and face off with every gang boss.</p>
  </div>
  <div class="col-md-5">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-4nQ2PZquJk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>

{% endblock %}
