{% extends "blog/base.html" %}
{% load staticfiles %}

{% block content %}

<!-- <div class="jumbotron plagatron"> -->
<div class="row  devblog">
  <h2>Whats going on with Plaga?</h2>
  <p>First, we want to say thank you for visiting our site and taking the time to see what we are trying
to accomplish here. This blog will follow the development of the game Plaga that the dude is currently
hard at work learning and building the game from scratch using Unity.</p>
</div>
<h2></h2>
<p></p>
<!-- </div> -->
{% endblock %}
